# https://google.github.io/styleguide/cppguide.html#Formatting
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: "Never"
AllowShortFunctionsOnASingleLine: "Empty"
AllowShortIfStatementsOnASingleLine: "Never"
AllowShortLoopsOnASingleLine: false